.instruction{
    margin: auto;
    width: 400px;
    
}

li{
    margin: 10px 0px;
}

#content , .writing , #try {
    width:75vw;
    height:30vh;
    margin:20px auto;
   font-size: 20px;
   letter-spacing: 1px;

}

#content{
    /* border:2px solid black; */
    overflow-x: hidden;
    overflow-y: auto;
   
}

#practise{
    width:100%;
    height:100%;
    text-align: left;
    
    border:2px solid black;
}
#lyrics{
    text-align: left;
    width: 1024px;
    border:2px solid black;
    height: 191px;
}

#buttons{
    display: flex;
}

#mistake{
    text-align: center;
}